<footer class="border-top footer text-muted">
    <div class="main-footer main-footer-docs">
        <span>&copy; 2024. Fixed Assests Management. All Rights Reserved.</span>
        <span>Created by: <a href="" target="_blank">The Big Solutions.</a></span>
    </div>
</footer>