@using FAMAndIMS.Data.Model.GlobalSettingModel.DepartmentModel
@model DepartmentVM
<form id="saveDepartment" enctype="multipart/form-data" class="form-horizontal auth-form" method="post" autocomplete="off">
    <div class="card card-one">
        <ul>
            @if (ViewBag.Error is not null)
            {
                @foreach (var error in ViewBag.Error)
                {
                    <li class="text-danger">@error</li>
                }
            }
        </ul>
        <div class="card-body p-3">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="DepartmentName" class="form-label">Department Name<span style="color:firebrick">*</span></label>
                        <input asp-for="DepartmentName" type="text" class="form-control" id="DepartmentName" placeholder="">
                        <span class="text-danger" asp-validation-for="DepartmentName"></span>
                    </div>
                  
                    <div class="form-check form-switch">
                        <input asp-for="IsActive" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Is Active</label>
                        <span class="text-danger" asp-validation-for="IsActive"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="DepartmentCode" class="form-label">Department Code</label>
                        <input asp-for="DepartmentCode" type="text" class="form-control" id="DepartmentCode" placeholder="">
                        <span class="text-danger" asp-validation-for="DepartmentCode"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer mt-3">
            <button type="button" class="btn btn-dark waves-effect" data-bs-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" type="submit">Submit <i class="ri-send-plane-fill"></i></button>
        </div>
        <!-- card-body -->
    </div><!-- card -->
    </div>
</form>
<script>

    FormHandler.init({
        method: 'POST',
        actionUrl: '@Url.Action("SaveDepartment", "Department")',
        containerSelector: '#add-new .modal-body',
        selector: '#saveDepartment'
    }, function () {
        $("#add-new .modal-body").html("");
        $("#add-new .modal-title").html("");
        $("#add-new").modal('hide');

        Pagination.getData();
    });
    $(document).ready(function () {
        document.getElementById("flexSwitchCheckDefault").checked = true;
    })
</script>