@using FAMAndIMS.Data.Model.AdminUserManagementModel
@model AdminUserResetPasswordVm

<form id="formAdminResetPassword" class="form-horizontal auth-form" method="post" autocomplete="off">
    <ul>
        @if (ViewBag.Error is not null)
        {
            @foreach (var error in ViewBag.Error)
            {
                <li class="text-danger">@error</li>
            }
        }
    </ul>

    <div>
        <div class="row mt-4">
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                    <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password">
                    <button type="button" id="togglePassword" class="btn btn-outline-dark" onclick="togglePasswordVisibility('password','passwordEyeIcon')">
                        <i id="passwordEyeIcon" class="ri-eye-line"></i>
                    </button>
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
            </div>

            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <div class="input-group">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" >
                    <button type="button" id="toggleConfirmPassword" class="btn btn-outline-dark" onclick="togglePasswordVisibility('confirmPassword','confirmPasswordEyeIcon')">
                        <i id="confirmPasswordEyeIcon" class="ri-eye-line"></i>
                    </button>
                </div>
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>


            <div class="modal-footer mt-3">
                <button type="button" class="btn btn-dark waves-effect" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="submit">Submit <i class="ri-send-plane-fill"></i></button>
            </div>

        </div>
    </div>
</form><!--end form-->

<script>

    FormHandler.init({
        method: 'POST',
        actionUrl: '@Url.Action("AdminUserResetPassword", "AdminUserManagement")',
        containerSelector: '#add-new .modal-body',
        selector: '#formAdminResetPassword'
    }, function () {
        $("#add-new .modal-body").html("");
        $("#add-new .modal-title").html("");
        $("#add-new").modal('hide');
        //new PNotify({
        //    // title: 'Success ',
        //    text: 'Loan Type Created Successfully',
        //    type: 'success',
        //    animation: {
        //        effect_in: 'fade',
        //        effect_out: 'slide'
        //    }

        //});
        Pagination.getData();
    });
    
</script>
